.Spaceship{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    animation: spaceship 1s ease-in;
    animation-delay: 3.3s;
    animation-fill-mode: forwards;
    z-index: 1;
}
@keyframes spaceship {
    0% {height: 100vh;background-color: black;}
    20%{background-color: rgba(0, 0, 0, 0);}
    100% {height: 0vh;background-color: rgba(0, 0, 0, 0);}
}
@keyframes phrase {
    0% {visibility: visible;opacity: 1;}
    100% {visibility: hidden;opacity: 0;}
}
.Spaceship img{
    width: 13%;
    margin: 50px;
}
.Spaceship p{
    position: absolute;
    font-size: 3vw;
    top:0;
    margin: auto;
    visibility: visible;
    opacity: 1;
    margin-top: 100px;
    animation: phrase 1s linear;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
}
@media only screen and (max-width: 600px) {
    .Spaceship p{
        font-size: 4vw;
    }
    .Spaceship img{
        width: 17%;
    }
   
} 
@media only screen and (min-width: 600px) {
    .Spaceship img{
        width: 14%;
    }
  
} 
@media only screen and (min-width: 768px) {
    .Spaceship p{
        font-size: 2.5vw;
    }
    .Spaceship img{
        width: 12%;
    }
} 
@media only screen and (min-width: 1200px) {
    .Spaceship img{
        width: 10%;
    }
    
}